.footerMain{
    background-color: #343A40;
    margin-bottom:0px;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 3rem;   
}

.footerMain p {
   padding: 5px 20px;
   color: white; 
}