.mainDiv{
    background-color: rgb(95, 94, 94);
    height: 10rem;  
}

.footerMain{
   margin: 0 auto;
   padding-top: 4.5rem;
   max-width: 70%;
 
   
  
} 

.innerContent{
    text-align: center;
    
}

