.indexCarousel{
   padding: 50px 0px;
    margin: 0 auto;
    max-width:600px;
}

.mainPicture{
    height: 400px;
    background-image: url("/images/laptop-home.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    
}
.colorOverlay{
    background-color: green;
    opacity: 0.7;
}

.boxContainer{

    max-width: 80%;
    margin:0 auto;
   
}
.box{
    display: inline-flex;
    width: 300px;
    height:150px;
    margin: 0 auto;
    background-color: white;
    
    border: 1px solid black;
    margin: 50px;
    

}
.headingAfterMainPicture{
    text-align: center;
    margin: 30px;
    color: lightskyblue;
}